<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>


<nav>
    <div class = "navbar">
        <!-- Lef Div -->
        <div id="leftdiv">
            <a href = '/'>
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" width="100" height="100">
                <span class="navlinks">Circuitrader</span>
            </a>
        </div>
        <!-- Cen Div -->
        <div id = "centerdiv">
            <a class="navlinks" href = "/"></a>
        </div>
        <!-- Rig Div -->
        <div id="rightdiv">
            {% if not session['logged_in'] %}
            <a class="btn-fancy" href="/login">Login</a>
            <a class="btn-fancy" style="margin-left: 10px" href="/signup">Sign Up</a>
            {% else %}
            <a class="btn-fancy" href="/update">Profile</a>
            <a class="btn-fancy" style="margin-left: 10px" href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>
<body>
    {% block bodyContent %}{% endblock %}
</body>
</html>