{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block bodyContent %}
<div>
    <div>
        <div style="position: absolute; height: 100%; width: 100%; background: url('../static/images/HomepageBG1.jpg')"></div>
    </div>

    <div class="IMG">
        <img class="Slides" src="../static/images/ewaste1.png">
        <img class="Slides" src="../static/images/ewaste2.png">
        <img class="Slides" src="../static/images/ewaste3.png">
        <img class="Slides" src="../static/images/ewaste4.png">
    </div>
    <p>
        Welcome to the Circuitrader website, where tech enthusiasts congregate in order to wage war on e-waste
        , and help save our planet
    </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('nav').css('top', 0);
    })
    var previousScroll = $(window).scrollTop
    $(window).scroll(function () {
        var currentScroll = $(window).scrollTop();
        if (currentScroll > previousScroll) {
            $('nav').css('top', '-100px');
        } else {
            $('nav').css('top', 0);
        }
        previousScroll = currentScroll;
    })
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("Slides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {
            slideIndex = 1
        }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>
{% endblock %}