{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block bodyContent %}
<style>
    body {
        background: url('../static/images/c.jpg');
    }

    .formdiv {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--primary-background-color);
        padding: 60px 80px;
        border-radius: 30px;
    }

    form label {
        color: var(--primary-text-color);
        font-size: 1.5rem;
    }
    form input {
        font-size: 1.3rem;
        border-radius: 5px;
    }
    .noacc {
        display: flex;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .noacc h1 {
        font-size: 1.2rem;
    }
    .signupbtn {
        background: transparent;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: underline;
        transition: 0.5s;
    }
    .signupbtn:hover {
        cursor: pointer;
        color: var(--secondary-text-color);
        transition: 0.5s;
    }
    .h1top {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<div class="h1top">
    <h1>Login</h1>
</div>
<div class="formdiv">
    <form id="myform" action="/login" method="post">
        {% if error_message is defined %}
        <div id="alert">{{error_message}}</div>
        {% endif %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" placeholder="Enter username" name="username"><br>
        <br>
        <br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" placeholder="Enter password" name="password"><br>
    </form>
    <input class="btn-fancy" style="margin-top: 35px" type="submit" class="float-right submit-button" form="myform" value="Submit"/>
</div>
<div class="noacc"><h3>No account?</h3><button id="myButton" class="float-left submit-button signupbtn">SignUp</button></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('nav').css('top', 0);
    })
    $(window).scroll(function () {
        var currentScroll = $(window).scrollTop();
        if (currentScroll > previousScroll) {
            $('nav').css('top', '-100px');
        } else {
            $('nav').css('top', 0);
        }
        previousScroll = currentScroll;
    })
</script>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/signup";
    };
</script>
{% endblock %}