{% extends 'base.html' %}
{% block title %}Mission{% endblock %}
{% block bodyContent %}

<h1 style="color: var(--primary-text-color)">Our Mission</h1>

<p style="color: var(--primary-text-color)">
    E-waste is one of the largest environmental problems of this day and age, depositing toxic materials into our land
    and reservoirs, and irradiating large swathes of the globe. The only way to truly get rid of the waste is to repurpose
    it, rather than throw it away.
</p>

<p style="color: var(--primary-text-color)">
    Keeping this in mind, we founded Circuitrader, an online electronics trading site reminiscent of a swap meet. People
    are able to put in requests for items that match their specific technological needs and offer items that they don't
    need anymore, and our system automatically matches the requester with the offerer, free of charge. It will automatically
    determine the cheapest option available on the site and direct you to contact the offerer.
</p>
<hr>
<h2 style="color: var(--primary-text-color)">Requesters and Offerer or Buyer and Seller</h2>
<p style="color: var(--primary-text-color)">
    A common question that people have when they visit our website is why we have gone away from the traditional titles
    of buyer and seller and instead use requesters and offerers. We chose to make this semantic difference in order to
    demonstrate the purpose of our mission: that everyone is responsible for combating ewaste and by choosing to use
    this site, you are helping to mitigate this crisis.
</p>

{% endblock %}

